{% extends '_layout/base.jinja2' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<h1>{{ data.metadata.title }}</h1>
<span>{{ data.metadata.category }}</span>
<span>{{ data.metadata.tags }}</span>
<span>{{ data.metadata.date }}</span>
{{ data.content_html|safe }}

{% endblock %}