{% extends '_layout/base.jinja2' %}


{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    {% for content in contents %}

        <a href="{{ content.url }}"> {{ content.name }}</a>

    {% endfor %}

{% endblock %}