<title>{{ data.metadata.title }}</title>
<meta name="description" content="{{ data.metadata.description }}"/>
<meta name="author" content="{{ data.metadata.author }}">
<meta name="keywords" content="{{ data.metadata.tags }}">
<meta name="category" content="{{ data.metadata.category }}">
<meta name="revised" content="{{ data.metadata.date }}"/>
<meta name="hash-value" content="{{ data.sha }}">



<meta name="og:title" content="{{ data.metadata.title }}"/>
<meta name="og:type" content="{{ data.metadata.category }}"/>
{#<meta name="og:url" content="http://www.imdb.com/title/tt0117500/"/>#}
<meta name="og:site_name" content="{{ data.metadata.site_name }}"/>
<meta name="og:description" content="{{ data.metadata.description }}"/>
<meta name="og:country-name" content="NZ"/>