<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<meta name="description" content="Description" />
  	<meta name="author" content="Author">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="static/css/bootstrap.css"
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    {% include 'header.html' %}
    {% block content %}
    
    {% endblock content %}
    {%  include 'footer.html' %}
    <script src="static/js/bootstrap.js"></script>
</body>
</html>